[Unit]
Description=Name Server Daemon
Documentation=man:nsd(8)
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/nsd -d
ExecReload=/usr/sbin/nsd-control reload

[Install]
WantedBy=multi-user.target
