#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

CFLAGS = -Wall -g -D_XOPEN_SOURCE=600
CPPFLAGS = -Wall -g -D_XOPEN_SOURCE=600

DEB_MAKE_CLEAN_TARGET := clean

DEB_CONFIGURE_EXTRA_FLAGS := \
	--with-configfile=/etc/default/nsd --with-pidfile=/var/run/nsd.pid \
	--with-configdir=/etc/nsd/ --sysconfdir=/etc --localstatedir=/var \
	--enable-ipv6 --with-dbfile=/var/lib/nsd/nsd.db --enable-root-server

clean::
	rm -f config.h Makefile config.sub config.log config.status

install/nsd::
	rm $(CURDIR)/debian/nsd/etc/default/nsd.sample
	mv $(CURDIR)/debian/nsd/etc/nsd/nsd.zones.sample $(CURDIR)/debian/nsd/etc/nsd/nsd.zones
